body {
  background: #FFF7E9;
}

table {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #CAF0F8;
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr:hover {
  background-color: #256D85;
  font-weight: bold;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gainsboro;
  text-align: center;
  color: white;
  background-color: #13293D;
  border-radius: 8px;
}

.app {
  width: 500px;
  margin-left: 2px;
}

.busca {
  width: 100%;
  position: relative;
  display: flex;
}

.buscaTexto {
  width: 100%;
  border: 3px solid #13293D;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #13293D;
  font-weight: bold;
}

.buscaTexto:focus {
  color: #0a1927;
}

.buscaBtn {
  width: 40px;
  height: 36px;
  border: 1px solid #13293D;
  background: #13293D;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}